<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/corrida-detail.css">
	<link href=' http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="shortcut icon" href="/app/img/favicon.ico" type="image/x-icon">

</head>

<body>
	<form method="post" action="/" class="buttons" id="back">
		<a type="submit" style="cursor: pointer; margin-left: -94%;
    margin-top: -0.6%;" name="back" class="button back" onClick="getId()"><span>Voltar</span></a>
	</form>

	<h1 style="margin-top: -3%;">Detalhe da Corrida</h1>

	<table class="table">
		<tr class='title'>
			<th> Nº da Corrida</th>
			<th class="data"><%= %></th>
		</tr>
		<tr class='title'>
			<th> Nº de peças</th>
			<th class="data"><%=   %></th>
		</tr>
		<tr class='title'>
			<th> Acurácia</th>
			<th class="data"><%=  %>%</th>
		</tr>
		<tr class='title'>
			<th> Status</th>
			<th class="data"><%=  %></th>
		</tr>
	</table>

<h1>Peças da corrida</h1>

	<table class="numAC">
		<tr class='title'>
			<th> Número</th>
			<th>Acurácia</th>
		</tr>

		
	</table>

	<br>
	<br>


	<form method="post" action="/corrida-check" id="check" class="buttons">
		<input hidden value="<%=  %>" name="id">
		<a type="submit" style="cursor: pointer; font-size: 25px;" class="button mail" form="check" name="check" onClick="getId()"><span>Despachar</span></a>
	</form>

	<br>

	<script src="/app.js"></script>

	<script>
		function getId() {
			addEventListener('click', function (ev) {
				if(ev.target.name === 'check'){
					document.getElementById('check').submit()
				}else{
					document.getElementById('back').submit()
				}
			})

		}
	</script>
</body>

</html>
