<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/list.css">
	<link href=' http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="shortcut icon" href="/app/img/favicon.ico" type="image/x-icon">
	<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>

<body>
	<h1>Fazer upload de uma nova corrida</h1>
	<form id="uploadForm" name="uploadForm" enctype="multipart/form-data" action="/upload-photo" method="post">
	<div class="file-upload">
		<button hidden class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Adicione sua imagem aqui!</button>
		<div class="image-upload-wrap">
			<input class="file-upload-input" type='file' name="img" onchange="readURL(this);" accept="image/*" />
		<div class="drag-text">
			<h3>Arraste e solte um arquivo <br><br>ou<br><br>Clique Aqui!</h3>
		</div>
	</div>
	<div class="file-upload-content">
		<img class="file-upload-image" src="#" alt="your image" />
		<div class="image-title-wrap">
			<button type="button" onclick="removeUpload()" class="remove-image">Remover <span class="image-title">Uploaded
					Image</span></button>
		</div>
	</div>
</div>

<div class="buttonUpload buttonSend" >
	<a onClick="submitar()">
		<span>Upload Now</span>
		<svg class="load" version="1.1" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 40 40"
			enable-background="new 0 0 40 40">
			<path opacity="0.3" fill="#fff"
				d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
            s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
            c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z" />
			<path fill="#fff" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
            C22.32,8.481,24.301,9.057,26.013,10.047z">
				<animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 20 20" to="360 20 20"
					dur="0.5s" repeatCount="indefinite" />
			</path>
		</svg>
		<svg class="check" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
			<path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z" />
		</svg>
	</a>
	<div>
		<span></span>
	</div>
</div>

</form>
			
	<h1 	>Lista de corridas coletadas</h1>
	<table >
		<tr class='title'>
			<th> Nº da Corrida</th>
			<th>Status</th>
			<th>Acurácia (%)</th>
			<th>Vizualizar</th>
			<th>Deletar</th>
		</tr>
		
		<div class="row">
			<% var i=1; j=1;%>
			<% corrida.forEach(function(corrida) { %>

				<tr><form >
					<th><input class="inputLabels" desabled name="NumCorrida" value="<%= corrida.nuMCorrida%>"></th>
					<th><input class="inputLabels" name="Status" value="<%= corrida.status%>"></th>
					<th>
						<input class="inputLabels" name="Acc" value="<%= corrida.acc.toFixed(3)%>">
					</th>
					</form>
					
					<th class="noneBorder buttons">	
						<form method="post" action="/corrida-detail" id="list">
							<a id="<%= i++ %>" type="submit" form="list" name="list" class="button mail" onClick="getId()"
								style="cursor: pointer;"><span>View</span></a>
							<input hidden id="myIdList" name="id" type="text" value="OPA">
						</form>
					</th>
					<th class="noneBorder buttons">
						<form method="post" action="/corrida-delete" id="delete">
							<a id="<%= j++ %>" type="submit" name="delete" form="delete" class="button delete" onClick="getId()"
								style="cursor: pointer;"><span>Delete</span></a>
							<input hidden id="myIdDelete" name="id" type="text" value="OPA">
						</form>
					</th>
						
				</tr>
				<% }); %>
		</div>
	</table>
<br>
<br>
<br>
<script src="/app.js"></script>
<script src="../js/scripts_page.js"></script>
</body>

</html>
